DB_HOST=
DB_USER=
DB_PASS=
DB_NAME_DEV=
DB_NAME_REL=
ADMIN_PASSWORD=
GUEST_PASSWORD=
DEVELOPER_ADDRESS_CSV=
PAYPAL_CLIENT_ID_DEV=
PAYPAL_CLIENT_SECRET_DEV=
PAYPAL_CLIENT_ID_REL=
PAYPAL_CLIENT_SECRET_REL=
