DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
KISABURO_LINE_USER_ID=
CHAMME_LINE_USER_ID=
SUMIKA_LINE_USER_ID=
ASAMI_LINE_USER_ID=
TSUDOI_MAMA_LINE_USER_ID=
YOU_LINE_USER_ID=
XPERIA_LINE_USER_ID=
STARSHIP_LINE_USER_ID=
KANA_LINE_USER_ID=
ME_CHAMME_LINE_ROOM_ID=
EXLINK_LINE_GROUP_ID=
MEDIA_AND_EXLINK_LINE_GROUP_ID=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SEND_TEST_PHONE_NUMBER=
